*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    width: 100vw;
    background: #fff2f4;

    display: flex;
    justify-content: center;
    align-items: center;
}